*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: white;
	background-image: url("../img/fondoComidaArriba.jpg");
	background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat;
	font-family: Times New Roman;
	background-size: 100%;
	background-attachment: fixed;
}

.contenedora{
	position: absolute;
	width: 100%;
}
