.contenedora{
	height: 100vh;
	padding: 1%;
}

.iniciosesion{
	background-color: rgba(141, 110, 99, 0.9);
	position: relative;
	max-width: 475px;
	min-height: 475px;
	width: 40%;
	padding: 2% 1.5%;
	box-shadow: 0px 0px 40px 20px #1C1C1C;
	font-weight: 500;
	color: black;
	border-radius: 15px;
	z-index: 1;
}

.form-inicio-sesion{
	/*background-color: blue;*/
	width: 100%;
	padding: 0 2% 2%;
	z-index: 2;
}

.form-inicio-sesion h1{
	/*background-color: yellow;*/
	width: 100%;
	padding: 3%;
	margin: 5% 0 10%;
	font-size: 220%;
	text-align: center;
	color: white;
}

.form-inicio-sesion label{
	/*background-color: orange;*/
	position: relative;
	font-size: 130%;
	margin: 0 1%;
	font-weight:bold;
}

.form-inicio-sesion input{
	position: relative;
	width: 100%;
	margin: 3% 0;
	max-height: 35px;
	height: 2.7em;
	padding: 1%;
	border-radius: 5px;
}

.div-contenedora-labelinput{
	/*background-color: brown;*/
	position: relative;
	margin: 6% 0;
}

.div-inputPassword i{
	position: absolute;
	margin-left: -30px;
	margin-top: 22px;
    cursor: pointer;
}

.div-fallo-inicio{
	position: relative;
	margin: -2% 0 2% 0;
}

.div-fallo-inicio p{
	color: #B40404;
	color: #B71C1C;
	color: #860000;
	font-size: 1.1em;
	font-weight: 600;
	text-align: center;
}

.boton-iniciarsesion{
	position: relative;
	width: 45%;
	padding: 3%;
	margin: 3% 27.5% 4%;
	border-radius: 6px;
	font-weight: bold;
	font-size: 1em;
}