.contenedora{
	background-repeat: repeat;
	padding: 7% 1%;
}

.registrarse{
	/*background-color: #848484;
	background-color: green;*/
	background-color: rgba(141, 110, 99, 0.9);
	position: relative;
	width: 60%;
	margin: auto;
	padding: 3% 4%;
	/*box-shadow: 0px 0px 60px 20px black;*/
	box-shadow: 0px 0px 30px 10px #1C1C1C;
	font-weight: 500;
	color: black;
	border-radius: 15px;
	z-index: 1;
}

.div-registrarse{
	/*background-color: red;*/
	width: 100%;
	padding: 2%;
}

.div-registrarse h1{
	/*background-color: blue;*/
	width: 100%;
	padding: 3%;
	margin: 0;
	font-size: 220%;
	text-align: center;
	color: white;
}

.div-registrarse label{
	/*background-color: yellow;*/
	position: relative;
	margin: 0 1%;
	font-size: 130%;
}

.div-registrarse input{
	position: relative;
	width: 100%;
	margin: 2% 0;
	max-height: 35px;
	height: 2.7em;
	padding: 1%;
	border-radius: 5px;
}

.div-contenedora-nombreApellidos{
	/*background-color: orange;*/
	position: relative;
	display: flex;
	margin: 2% auto
}

.div-nombreApellidos{
	/*background-color: purple;*/
	width: 49%;
}

.div-nombre{
	margin-right: 1%;
}

.div-apellidos{
	margin-left: 1%;
}

.div-contenedora-labelinput{
	/*background-color: pink;*/
	position: relative;
	margin: 3% 0;
}

.div-boton-registrarse{
	/*background-color: red;*/
	position: relative;
	width: 30%;
	margin: auto;
	height: 1em;
}

.boton-registrarse{
	position: absolute;
	width: 100%;
	padding: 5%;
	margin: auto;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1em;
}

.registrarse label{
	font-weight:bold;
}

.div-iniciarsesion{
	position: relative;
	width: 100%;
	text-align: center;
}
.div-iniciarsesion a{
	font-size: 16px;
	color: black;
	font-style: italic;
	text-decoration: underline;
}