.contenedora{
	background-repeat: repeat;
	padding: 3% 1%;
}

.reservas{
	/*background-color: #848484;
	background-color: green;*/
	background-color: rgba(141, 110, 99, 0.9);
	position: relative;
	width: 80%;
	margin: auto;
	padding: 4%;
	/*box-shadow: 0px 0px 60px 20px black;*/
	box-shadow: 0px 0px 30px 10px #1C1C1C;
	font-weight: 500;
	color: black;
	border-radius: 15px;
	z-index: 1;
}

.reservas h1{
	/*background-color: blue;*/
	width: 100%;
	padding: 1%;
	margin: 0;
	font-size: 220%;
	text-align: center;
	color: white;
}

.div-seleccionarDia input{
	position: relative;
	width: 80%;
	margin: 2% 10%;
	max-height: 35px;
	height: 2.7em;
	padding: 1%;
	border-radius: 5px;
}

.div-barra-reservas{
	background-color: black;
	width: 100%;
	display: flex;
	margin: 1%;
}

.div-reservas{
	width: 100%;
}

.reservas h2{
	/*background-color: blue;*/
	position: relative;
	width: 100%;
	padding: 0.5% 2%;
	font-size: 145%;
	color: white;
}

.flecha{
	float: right;
	padding: 0.5% 2%;
	font-size: 140%;
	color: white;
	cursor: pointer;
}

.reserva{
	background-color: white;
	width: 100%;
	padding: 0.5%;
	border-radius: 15px;
	margin: 1% 0;
}

.reserva .fecha-hora{
	/*background-color: red;*/
	width: 60%;
	display: flex;
	margin: 0 40% 0 0;
}

.fecha-hora p{
	font-size: 20px;
	font-weight: bold;
}

.fecha-hora .fecha{
	/*background-color: orange;*/
	width: 30%;
	margin: 0 0 0 20%;
	padding: 1%;
}

.fecha-hora .hora{
	/*background-color: yellow;*/
	width: 30%;
	margin: 0 10% 0 10%;
	padding: 1%;
}

.nombreReserva-numeroPersonas{
	/*background-color: blue;*/
	width: 100%;
	display: flex;
}

.nombreReserva-numeroPersonas p{
	font-size: 18px;
}

.nombreReserva-numeroPersonas span{
	font-weight: bold;
}

.nombreReserva{
	/*background-color: yellow;*/
	padding: 1% 5%;
}

.numeroPersonas{
	/*background-color: orange;*/
	padding: 1% 5%;
}